<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>endDate</key>
		<date>2018-01-12T15:51:02Z</date>
		<key>startDate</key>
		<date>2018-01-12T15:51:04Z</date>
		<key>title</key>
		<string>大红鹰时时彩，乐享赚翻天!</string>
	</dict>
</array>
</plist>
